@{
    ViewData["Title"] = "Home";
}

    <div class="text-left">
        <h1 class="display-4">Welcome to the Store</h1>
        <style>
            body {
                background-image: url('https://www.libarts.colostate.edu/music/wp-content/uploads/sites/17/2018/04/Generic-Music-Notes.jpg');
                background-attachment: fixed;
                background-size: 100% 100%;
                color: darkorange;
            }
        </style>
    </div>
